.contact {
    margin: 0 auto;
    padding: 2rem 4rem 2rem;
    color: indigo;
    display: grid;
    grid-template-columns: 40% 60%;
    background: lavender;
    text-align: center;
    line-height: 1.50rem;
    &__title {
        line-height: 2.25rem;
        font-size: 2rem;
        padding-bottom: 8px;
    }
}

.social {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    &__item {
        & + & {
            margin-left: 1.5rem;
        }
    }
    &__link {
        text-decoration: none;
        &:visited {
            text-decoration: none;
        }
    }
    &__icon:hover {
        transition: transform 0.05s linear;
        transform: scale(1.1);
    }
}


.footer {
	background-color: #000;
    padding: 10px;
    &__paragraph {
        color: #fff;
        text-align: center;
    }
}