.contact {
    margin: 0 auto;
    padding: 2rem 4rem 2rem;
    color: indigo;
    display: grid;
    grid-template-columns: 60% 40%;
    background: lavender;
    text-align: center;
    line-height: 1.75rem;
    &__title {
        line-height: 2.75rem;
        font-size: 2rem;
        padding-bottom: 8px;
        line-height: 2.75rem;
    }
}
