.skills {
    max-width: 1248px;
    padding: 4rem 16px 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    justify-content: space-between;
    &__title {
        letter-spacing: 0.75rem;
        padding-bottom: 1rem;
    }
}

.skills-list__item {
    line-height: 1.5rem;
}
.reps {
    height: 100px;
    width: 100px;
}
.rep_logo {
    text-align: center;
}
