.welcome {
		display: flex;
		align-items: flex-start;
	}

.image__container {
	padding: 4rem 4rem;

}

.title__container {
	padding: 16rem 4rem;
}

.special {
	font-weight: 300;
	font-size: 5.25rem;
	line-height: 6.25rem;
}