
.special {
	font-size: 72px;
}

.welcome {
	width: 100%;
	background: url(../assets/img/gym.jpg) fixed;
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 900px;
	background-size: cover;
}

.slogan {
	width: 800px;
	height: 400px;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	color: white;
    position: absolute;
    top: 300px;
	right: 0;
}
.slogan h1 {
	text-transform: uppercase;
	text-align: left;
	padding-left: 50px;
	padding-top: 20px;
	font-size: 2.5rempx;
}