@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600&display=swap");

@import "_variables";
@import "modules/about.scss";
@import "modules/hamburger.scss";
@import "modules/offer.scss";
@import "modules/contact.scss";
@import "modules/welcome.scss";
@import "modules/expertise.scss";


html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 16px;
//	@media (max-width: $mobile) {
//	  font-size: 12px;
	}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #08aeea;
	background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Lato";
}



.footer {
	background-color: lime;
}

.footer__paragraph {
	color: pink;
}


.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}


.main {
	width: 100%;
	max-width: 900px;
	margin: 32px auto;
	padding-top: 32px;
}

.welcome__right {
	color: greenyellow;
}

.navigation__list {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-content: stretch;
	align-items: center;
}

.navigation__item {
	display: block;
	margin: 0 40px;
}

.navigation__link:hover {
	color: black;
	background: #fff;
}


.site-header {
	background-color: #ffe53b;
	background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
	box-sizing: border-box;
	left: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	min-height: 64px;
	grid: header;
}

.site-header:hover {
	background: lightcoral;
}

@media (min-width: 1200px) {
	.main {
		max-width: 1000px;
	}
}

@media (max-width: 800px) {
	.navigation__list {
		flex-direction: column;
		display: none;
	}
	.navigation__item {
		margin: 16px;
	}
	.navigation__list--visible {
		display: flex;
	}
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}
