@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600&display=swap");

@import "_variables";
@import "modules/about.scss";
@import "modules/offer.scss";
@import "modules/contact.scss";
@import "modules/welcome.scss";
@import "modules/skills.scss";
@import "modules/nav.scss";


html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 16px;
//	@media (max-width: $mobile) {
//	  font-size: 12px;
	}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #08aeea;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Lato";
}


.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}


.main {
	width: 100%;
	margin: 32px auto;
	padding-top: 32px;
}


@media (min-width: 1200px) {
	.main {
		max-width: 1000px;
	}
}

@media (max-width: 800px) {
	.navigation__list {
		flex-direction: column;
		display: none;
	}
	.navigation__item {
		margin: 16px;
	}
	.navigation__list--visible {
		display: flex;
	}
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}
