@import "~normalize.css";

@import "_variables";
@import "modules/aboutme.scss";
@import "modules/hamburger.scss";
@import "modules/offer.scss";
@import "modules/contact.scss";

html {
  scroll-behavior: smooth;
}

body {
  background: grey;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
